[2017-12-04 22:25] ralphlange opened #1 "Add members to Website team"
The usual suspects should be added to the website team. Please create GitHub accounts and mail me your user names to do that.

[2017-12-09 17:19] ralphlange opened #2 "Error in transient (page loading) animation on project page"
Globally, the animation played when a page is loading are 3 x 3 dots changing size.

However, when the EPICS Users / Projects page loads, two animations are shown: the regular 3x3 dots and, above, a large single dot.

This might be related to the Projects page being handled by s different plug-in. It's somewhere down in the template code and I was not able to locate the bug.

[2017-12-09 17:22] ralphlange commented on #1
I would say we need

- [ ] Azadeh
- [ ] Annika
- [ ] Heinz
- [ ] Andrew
- [ ] Dirk

[2017-12-16 08:43] ralphlange opened #3 "Switch site to https"
testsite.epics7.org only works through unsecure http and doesn't answer to https requests.
Instead, http requests should be forwarded to the appropriate https URL.

[2017-12-30 15:20] ttkorhonen commented on #2
(Keijo) Found the CSS class of the loading element buried deep in the "cherry projects" plug-in javascript code and made it invisible using WordPress' "Additional CSS" function.

[2017-12-30 15:20] #2 closed

[2018-01-02 17:58] ralphlange commented on #2
You are my new CSS god. Excellent!

[2018-01-02 18:00] ralphlange commented on #1
Azadeh is still missing...
@epicAnnika, can you ping her?!
Happy New Year, everyone!!

[2018-02-28 12:02] ralphlange commented on #1
All in. Closing.

[2018-02-28 12:02] #1 closed

[2018-02-28 12:09] ralphlange opened #4 "Move site to FHI host"
As agreed in the December 2017 meeting, the site should move to its new hosting at the Fritz-Haber-Institut.
As a first step it was planned that Azadeh (@epicAzadeh) puts up a list of things that are needed on the hosting end, so that Heinz (@hjunkes) can prepare.

Let's please keep this ticket as the master to track progress and create (sub) issues as required.

[2018-03-01 15:09] dirk-zimoch opened #5 "Scaling on small viewports"
Some pages do not scale well on small viewports, for example the main page and the "projects" page. The pictures become smaller and smaller until unrecognizable. On the "about" page it works much better.

[2018-03-01 15:19] dirk-zimoch opened #6 "Layout for non-touch (non-mobile) displays"
The layout contains much empty space. I see that this improves usability for touch screens but it is annoying on non-touch screen devices, in particular on wide-screen laptops. There is a lot of vertical scrolling needed while at the same time there are huge empty margins left and right and the vertical size of menu items is much larger than useful for a non-touch display.
Consider using @media (p

[2018-03-01 15:28] dirk-zimoch opened #7 "Consider removing animations"
Some pages, e.g. the "projects" page, use animations when loading the page.
While this may be seen as a "fresh and active" style which pleases managers and such, if actually decreases usability because it simply delays the readability of the page. This may look interesting the first time but stresses my patience the 5th time loading the page.
The same is true for the "green flash" when switching p

[2018-03-01 15:35] dirk-zimoch opened #8 "Print layout broken"
The whole layout is broken when trying to print one of the web pages.

The first page contains the menu (which is totally useless in a hardcopy)
The second page contains all the content but is clipped to one page (you cannot scroll a hardcopy!)
The third page contains the footer.

It seems printing has never been thought of and was never tested.
Consider using @print CSS rules.

[2018-03-01 15:44] dirk-zimoch opened #9 "Navigation broken on "projects" page"
When going from "projects" page 1 to page 2 and then click the "back" button of the browser, one does not end up on "projects" page 1 but where ever one was before the first "projects" page.
Also when going from "projects" page 2 to one of the project articles referenced there and then back, one does not end up on the same page 2 but on page 1. This makes it annoying to browse through the project

[2018-03-11 17:10] epicAzadeh commented on #4
Hello all,
Please see the attached .pdf file as a first draft of the hosting requirements.

[Hosting Requirements-v1.pdf](https://github.com/epics-base/website/files/1800615/Hosting.Requirements-v1.pdf)

[2018-03-11 18:15] epicAzadeh commented on #3
This is related to the web host security that is listed in the hosting requirements.
Does the new host offer a free SSL certificate, if not, we have to buy it and we have various options such as the below providers (links):
- Standard SSL/1-year Price =$175 USD( https://www.digicert.com/buy-ssl-certificates/ )
- Comodo SSL/ 1-year Price =€88.95 (https://ssl.comodo.com/avoid-not-secure-warning-in-c

[2018-03-12 10:51] hjunkes commented on #4
I thought wordpress is requested for the new web-page?

Heinz

[2018-03-12 10:57] ralphlange commented on #4
Yes, that seems to be a misunderstanding.

@epicAzadeh: Heinz is hosting other Wordpress sites as part of the public web appearance of his institute. This is not a managed or bare server hosting.

[2018-03-12 11:01] hjunkes commented on #4
The proposed system (meets the requirements ;- ) ) can also be used for other things except Wordpress by the EPICS community (with local accounts)
such as jenkins etc.
Heinz

[2018-03-12 11:55] ralphlange commented on #4
Nah - the requirements doc has *unlimited* bandwidth and number of email accounts.
I don't think any existing system can fulfill this - not even yours. :-)

[2018-03-12 12:00] ralphlange commented on #3
Agreed. We will need a proper (i.e. not self-signed) cert to do this.
@hjunkes you have your own CA, right?

[2018-03-12 12:14] hjunkes commented on #3
Yes, we have a own CA but we can only create certs for .mpg.de
I would use let's encrypt (https://letsencrypt.org) to create a certificate for epics-controls.org

[2018-03-12 12:36] epicAzadeh commented on #4
Ok! The MINIMUM software and hosting requirements for our WordPress theme are:
o	PHP 5.4 or higher
o	MySQL 5.0 or higher
o	Apache server
o	The PHP fopen Apache module
o	The SuPHP Apache module
o	The mod_rewrite Apache module
o	25 GB Storage
o	512 MB RAM

Regarding the “unlimited bandwidth” and “unlimited email accounts” I should mention that they can be the minimum services of the hosting provider

[2018-03-13 10:06] hjunkes commented on #4
There is already a valid cert connected to https://epics-controls.org
@epicAzadeh : would create an admin for you at our wordpress instance. Need your e-Mail address

[2018-03-13 10:15] epicAzadeh commented on #4
@hjunkes: azadeh.sarkheyli@gmail.com

[2018-03-13 10:20] hjunkes commented on #4
You should got an email from the wordpress …
You can proceed  and update the page ;-)
Heinz

[2018-03-22 23:27] epicAzadeh commented on #4
@hjunkes: as you know, I need to access the web hosting control panel and database.
Hence, could you please give these permissions to me? Thanks

[2018-03-23 08:15] hjunkes commented on #4
There is no web hosting control panel. This is a “pure” Unix-System.
I created a Wordpress-admin account for you. You already got the data …
To this Wordpress-instance there is already a database connected to.
I thought you just update have to update the word and put your “content” into it?

If you need root-access to that machine, no problem I will create an ssh-login …

Heinz

[2018-03-23 11:09] epicAzadeh commented on #4
@hjunkes
- I thought you just update have to update the word and put your “content” into it?
No, actually we have a website now and we would like to move it (files and DB).

- If you need root-access to that machine, no problem I will create an ssh-login …
Yes, please.

[2018-04-15 11:06] epicAzadeh commented on #4
@ralphlange: the site has moved to the new host (FHI host)
https://epics-controls.org/

[2018-04-16 07:01] ralphlange commented on #4
Yeah!! Thanks a lot.
Works like a charm and - since we were speaking of "unlimited bandwidth" requirements - for me it's a *lot* faster now than before.

[2018-04-16 07:07] ralphlange commented on #4
@epics-base/website-devs:
Thanks to Azadeh's and Heinz' efforts, the web site has moved to the new location.
From now on, please apply any content updates/changes in its new place, https://epics-controls.org/

[2018-04-16 07:10] ralphlange commented on #3
With the move to the new location at https://epics-controls.org/, the web site fully supports https (using a cert from 'Let's Encrypt') and http requests are redirected to use https.

[2018-04-16 07:10] #3 closed

[2018-04-16 07:14] ralphlange commented on #7
@dirk-zimoch :
For me, the site works a lot faster (~5 times?) at the new location, and while I share your general concerns, the animations seem to appear a lot more "fresh and active" now.
Can you check again?

[2018-04-16 07:27] ralphlange commented on #7
https://epics-controls.org/login/
Sorry, didn't realize you were not in the list of issue #4

[2018-04-16 08:56] dirk-zimoch commented on #7
Please update the README.md of this project with the new address.
The speed is now about 3 seconds from the start of the green flash until the page is stable.
I am still not convinced that the animation has any positive value for the reader.

[2018-04-16 09:13] ralphlange commented on #7
Obviously depends on internet connection, browser, OS, ... for me consistently less than 1 sec now, without cache, for any page and between pages.
(Chrome 65 on Windows 7 running on a 4 year old i3 laptop at ITER.)

README is updated.

[2018-04-16 09:23] ttkorhonen commented on #7
I am somewhere in between, 1s seems short but loading time is clearly less than 3 sec, consistently.
The animation can of course be removed but I am also not sure if a blank page has more value...At least I see an action, even if only for a fraction of a second.

[2018-04-25 09:42] ralphlange opened #10 ""Review" functionality for modifications"
Some collaborators (content providers) are not native English speakers. (Actually, most.)
Some collaborators are not specialists in all the aspects and details of all EPICS modules. (Actually, most.)

So, most edits and updates would benefit a lot from a mode where the author of a change would request a review, i.e. specific others having a look, before the edit is going live.

Especially when wor

[2018-07-13 17:31] ralphlange opened #11 "Lots of junk entries in the Flamingo address book"
While the junk users that appeared in the "open" registration period have been removed, the "Flamingo" address book still has >100 entries.

[2018-07-13 17:42] ralphlange commented on #10
Implemented using Oasis Workflow

[2018-07-13 17:42] #10 closed, assigned to keijokorhonen

[2018-07-16 09:27] ttkorhonen commented on #11
We can of course remove them. However, I left them in intentinally at this stage. One reason was to keep some record of what had happened with the registrations, somebody might have had a legitimate reason to register, etc. And, as far as I understand, the address book entries are harmless, the people cannot log in or do anything on the site.

[2018-07-16 09:34] keijokorhonen commented on #11
Whoops! I just managed to clean the address book, as most entries were either spam or tests. The messages that we received have been marked as spam, but are still visible if necessary (none of them are really interesting to us however).

[2018-07-16 09:34] #11 closed, assigned to ttkorhonen, keijokorhonen

[2018-08-09 10:59] ralphlange opened #12 "Embedded images on How-To pages point to APS Wiki site"
I found that embedded images are still hot-linked to their original location on the APS Wiki pages.

What's the suggested procedure to move the images to the new site?

[2018-08-09 12:12] keijokorhonen commented on #12
I have found 3 embedded images on the "How to Set Up NAL (Nagios Alarm Handler) to monitor an EPICS network". If this is the only page with embedded images, it would be easy to just reupload the content to the new site.

[2018-08-09 13:22] ralphlange commented on #12
OK, that's true.
I asked the original contributors of that page (which also has a set of dead links) to join the group of contributors of the new web site and start by updating their NAL How-To.
Question answered - closing the issue.

[2018-08-09 13:22] #12 closed, assigned to nobody

[2018-08-13 08:09] ralphlange opened #13 "Show random projects on front page"
The three projects shown on the front page should rather be random projects (different with every visit) than always the same three.

[2018-09-05 08:35] ttkorhonen commented on #5
This was worked on during the summer and I think most if not all issues have been resolved. If there are still problems it would be good to point them explicitly out.

[2018-09-05 09:04] ttkorhonen commented on #9
The projects page is a "single page" that is written dynamically by Javascript. Fixing this to work with the back button is not practicable (with the current structures and plugins.) Instead we decided to do a workaround so that all content will be loaded on one page with the "load more" button. Not perfect but the best we could come up with in the available time. Better ideas would be welcome (bu

[2018-09-05 09:08] ttkorhonen commented on #8
Print layouts should now work, in cases when there is something worth printing on the pages. Please report if there are still problems.

[2018-09-05 09:12] ttkorhonen commented on #13
We took a look at this. Could be done by scripting/programming but we could not figure out a way that would not be broken when the plugins are updated.
This would be a good feature but we have to postpone it for later.

[2018-09-08 16:17] ralphlange opened #14 "Flag banner (keyVisual USER) uses wrong Chinese flag"
Reported by 阎映炳 &lt;yanyingbing _AT_ sinap.ac.cn&gt;:

By the way, the **incorrect figure of national flag of China** (the second one from the right side) is used in the projects page (https://epics-controls.org/epics-users/projects/). Five yellow stars should be in the top left part. Please use the correct one (see the attachment) to replace it. Thank you very much.

![flag_of_china](https://user

[2018-09-08 16:47] ralphlange commented on #14
@anjohnson - you might want to take note of this for the old site.

[2018-09-08 19:55] anjohnson commented on #14
The only page with flags on the old website is the [sites page](https://epics.anl.gov/sites.php), which has the correct flag for China in the fifth position from the left. The flag that is fifth from the right and looks a little bit like it is the Turkish flag.

[2018-09-08 20:01] ralphlange commented on #14
OK, so the issue with the USER key visual is that the stars in the Chinese flag should be smaller and in the top left corner instead of large and in the middle. Fair enough.

[2018-09-09 09:51] ralphlange opened #15 "Certificate has expired"
The "Let's Encrypt" certificate has expired this morning.
Users are seeing warning boxes and have to accept to proceed to an insecure site.
[code]

[2018-09-10 07:22] hjunkes commented on #15
Package upgrade was needed to run certbot-auto.

root@w4:~ >> ./certbot-auto
Upgrading certbot-auto 0.25.0 to 0.27.1...
Replacing certbot-auto...
Error: couldn't get currently installed version for /opt/eff.org/certbot/venv/bin/letsencrypt:
Traceback (most recent call last):
  File "/opt/eff.org/certbot/venv/bin/letsencrypt", line 7, in <module>
    from certbot.main import main
  File "/opt/eff.o

[2018-09-10 07:22] #15 closed, assigned to hjunkes

[2018-09-10 07:23] ralphlange commented on #15
Thank you for the quick fix!

[2018-09-11 08:56] ralphlange opened #16 "Page template does not render lists properly"
I found that the slide templates that are available for download have definitions for lists (e.g. using green dots for bulleted lists).

The css template for the web site seems to be missing some of those definitions.
(E.g. when using &lt;ul&gt; ... &lt;/ul&gt; on a project page I don't get indents nor bullets, see the Legnaro (LNL) page.)

[2018-09-11 08:58] ralphlange commented on #9
Seems like a reasonable workaround.
Closing the ticket - please re-open if necessary.

[2018-09-11 08:58] #9 closed

[2018-09-13 22:35] anjohnson opened #17 "How to submit News items?"
There is no link on the News page explaining how to submit news items. The current items look to have been copied from my News page, which had about 2-3 items a year. If we want to increase the frequency of new items we probably need to make it easier for people to submit items (and we should seed the page with the kinds of things we want to see on it; Mark Rivers is about to announce a new releas

[2018-09-14 06:36] ralphlange commented on #17
+1
Valid request, good idea.
I will come up with a test candidate later today.

[2018-09-14 06:49] ralphlange commented on #17
That test candidate will be a form generating a mail. To whom? Webmaster? Dedicated victim?

Independent from that technical issue is the question: What release related postings do we want to move onto the web site as opposed to tech-talk messages? Obvious options are:
1. Release notices of Base only?
2. Release notices for a defined list of "widely used modules"?
3. Release notices for all module

[2018-09-14 09:31] ttkorhonen commented on #17
Adding a low-threshold posting form is fine.
We even have one: "Contact us". It has the possibility to even submit files. Do we need to invent something new? We could point people to this page. Hurdle is very low. Having more pages for posting would just make it more confusing.

While we are at this: we have discussed the policies on a couple of occasions. If changes are wanted it is fine but let

[2018-09-14 09:35] ralphlange commented on #17
Having a different contact form would add a way for more required fields (e.g. link to tech-talk message, link to "read more" somewhere else) and removing fields (file upload makes no sense for a news item).

In Flamingo (database for incoming mails through contact forms) you can filter by contact form.

Re: policies. Where can I find them?

[2018-09-14 09:37] ralphlange commented on #17
And: Sure. I will stop working on this issue until I receive clear instructions. No problem with that.

[2018-09-14 10:36] ttkorhonen commented on #17
I hope you did not get offended! I just am concerned that first we asked people to join so that they can submit posts. Then soon after we ask them to do that by a web form. I would be rather confused.

We have discussed the policies (or rather processes) a few times; there is no single document, only scattered notes in meeting minutes and emails. The most recent discussion was about the contributo

[2018-09-14 11:12] ralphlange commented on #17
I completely agree with your argumentation, and was never planning to publicly change this without discussion. Note that my line of arguments in my 2nd comment goes in the direction of not using a form based approach.
All I started was to provide a non-public sample implementation using the existing plugins to have something tangible to talk about.

I can't remember we talked about our policies fo

[2018-09-14 13:01] ttkorhonen commented on #17
Sorry, I forgot the point about the contact form. Thank you for fixing it, please do not even think of rolling back.

What I refer to here as news items are those short posts that appear on the "News and Events" page. Those can be edited by "contributor"s as the first right they have after registration and approval. All posts by contributors have to go to the "simple approval" workflow. Approval c

[2018-09-14 13:29] ralphlange commented on #17
As we have a lot of modules, I would suggest limiting the release posts to option 1 or 2 of my above comment.
Otherwise **everything** else on the news and events will go down the drain.

[2018-09-14 13:32] ttkorhonen commented on #17
This is reasonable. Of the three above, Asyn release would qualify, PCAS maybe?, quadEM probably not.

[2018-09-14 15:28] anjohnson commented on #17
When talking about items getting pushed down the list by newer items, are you just concerned about the front page (where we only show the top 3 items) or the whole News and Events page? Would it be possible to add a flag that marks specific news items as "show me on the front page"? Some bulletin-board systems provide the ability to pin an item to the top of the list of discussions, which is simil

[2018-09-14 20:42] anjohnson opened #18 "Base-3.14.12.8 Release?"
By the time you guys read this I will have announced the final Base-3.14.12.8 release which I just tagged and uploaded to Launchpad and the APS website. If you look carefully the new site does have pages for the 3.13 and 3.14 series and for the 3.14.12 releases, but [the latter page](https://epics-controls.org/resources-and-support/base/series-3-14/3-14-12/) hasn't been updated since 3.14.12.6. Sh

[2018-09-14 20:59] ralphlange commented on #18
Yes, of course.

[2018-09-17 14:57] ralphlange commented on #17
So my suggestion would be:
* Put "News and Events" in a category separate from "Release Announcements".
* Add "frontpage" as a tag to the items that we want to see there.
* Add a filter to the frontpage teaser to only show items tagged "frontpage".
* Make the "News" page display two columns: "News and events" left and "Releases" right.
* Create a template post that can be used for release announce

[2018-09-17 15:57] anjohnson commented on #17
@ralphlange That seems like it should cover almost everything. If we ever create a more comprehensive software database to replace the supported hardware/software lists the releases column might get replaced (or fed) by entries into that database (but I guess that's still a bit of a pipe-dream of mine).

[2018-09-18 09:24] ralphlange opened #19 "Page template does not render blockquotes properly"
Similar to the lists, also blockquotes are not rendered properly. (Font, font size, spaces, ...)
See https://epics-controls.org/resources-and-support/documents/howto-documents/channel-access-reach-multiple-soft-iocs-linux/

[2018-09-18 16:41] anjohnson commented on #17
On the [News and Events](https://epics-controls.org/news-and-events/) page I just noticed that the layout for the latest (Asyn R3-14) item was different than the others; there was no margin between the graphic and the text. Looking at the post in more detail the older items were structured differently; the image should not be pasted inside the text box where it was put for the Asyn item, it needs

[2018-09-18 18:35] ralphlange commented on #17
That's why I added the fifth item in my list: we need a template post to make things easier.
If @ttkorhonen was to support the aforementioned list, I would consider taking the ticket. :-)

[2018-09-21 20:09] ralphlange commented on #17
Just to be clear:
@ttkorhonen - if you support this idea (the five item list above), I will take the ticket and implement.

[2018-09-21 20:12] ralphlange commented on #13
Another option would be setting a "project of the month" on the frontpage. Don't know if that could be done programmatically.

[2018-09-21 20:14] ralphlange commented on #7
Closing this as won't fix for the moment.
Please re-open if necessary.

[2018-09-21 20:14] #7 closed

[2018-09-22 06:28] ttkorhonen commented on #17
Yes, I do. Looks good, please go ahead and implement. Sorry for the delay, I was occupied with other stuff.

[2018-09-22 11:22] ralphlange commented on #17
- [x] Put "News and Events" in a category separate from "Release Announcements".
- [x] Add "frontpage" as a tag to the items that we want to see there.
- [x] Add a filter to the frontpage teaser to only show items tagged "frontpage".
- [x] Make the "News" page display two columns: "News and events" left and "Releases" right.
- [ ] Create a template post that can be used for release announcements
-

[2018-09-22 16:22] ralphlange commented on #18
Page was updated by @anjohnson on 18 Sep. Closing.

[2018-09-22 16:22] #18 closed, assigned to anjohnson

[2018-09-22 16:24] ralphlange commented on #8
@dirk-zimoch, I think this issue has been fixed.
Please check again, and close the issue if you think it is good enough now.

[2018-09-22 16:27] ralphlange commented on #6
@dirk-zimoch: @keijokorhonen and @epicDirk were working on the layout, considering different screen sizes and devices.
Please re-check and close the issue if things seem good enough now.

[2018-09-22 16:28] ralphlange commented on #5
@dirk-zimoch: same thing here. Please re-check and close the issue if things are working for you.

[2018-09-24 03:52] ralphlange opened #20 "Dates of "News and Events" posts use the wrong color"
While the orignal "light green" color of most text entities (e.g links) has been toned done (to increase readability), the dates that are shown for posts still use the old (less readable) color.

[2018-09-24 10:00] dirk-zimoch commented on #8
There is still a problem in  the "Projects" page:
Page 1 only shows the header and logo but no projects. Page 2 shows the first 12 projects. It also shows a "Top" scroll button, which should not appear in a hardcopy.
Page 3 only contains a "Load more" button.

Thus I still consider the Projects page "unprintable".

[2018-09-24 10:04] dirk-zimoch commented on #8
On the "EPICS Users" page the text appears above the image in the left column. The text is clipped with the first 2 letters of every line missing.The right column is empty.
A second page is printed but is empty.

[2018-09-24 10:08] dirk-zimoch commented on #8
The "New and Events" shows only a clipped logo image and some funny ] shaped greenish markers on the first print page. The rest of the print pages with the event list look fine.

[2018-09-24 12:03] dirk-zimoch commented on #5
Everything seems to work nice now on smaller viewports.

[2018-09-24 12:03] #5 closed

[2018-09-24 12:21] dirk-zimoch commented on #6
I have the impression that several pages look more "compact" now, which is nice for wide viewports with little hight.
Maybe the top menu and the footer could still be made more compact in the vertical direction. At the moment, the top menu is more than 6 times as high as the actual text in it. The same with the spacing inside the drop-down menus.

[2018-09-24 12:29] dirk-zimoch commented on #8
Can I add images in this tracker to show the layout problems?

[2018-09-24 12:42] ttkorhonen commented on #8
I have not figured out how one could add images, maybe the more experienced users can help.
However, I think that the issues are clear. It was also clear to us that there are some remaining issues; being time-limited we concentrated on fixing the layout on pages that (we thought) would be the most useful to print. Those being mainly on the documentation pages.
If somebody wants to pick up this tic

[2018-09-24 12:44] ralphlange commented on #8
I think files (images) can be dragged'n'dropped into the box, can't they?

[2018-09-24 12:50] ttkorhonen commented on #8
You are right, never tried that. But the issues are clear also without the images in this case.

[2018-09-24 17:39] anjohnson commented on #8
Pasting an image into the comment box also works:
![image](https://user-images.githubusercontent.com/5453863/45968475-b5566c00-bff6-11e8-972c-712fcc5d75b6.png)

[2018-09-24 19:14] anjohnson commented on #17
@ralphlange Your new News page looks good on a regular browser, but the two Post columns need side margins adding — when I tell Chrome to display this for a "device" the text hits the RHS of the display and on the LHS the green boxes and vertical lines are getting clipped.

[2018-09-24 19:21] ralphlange commented on #17
Hm. Same is true for the original current 1-column news page.
Does that make my new version good enough?

[2018-09-24 19:21] ralphlange commented on #17
I think it justifies creating another ticket.

[2018-09-24 19:24] anjohnson commented on #17
Agreed to both comments. The same solution would probably apply to either version then, so yes your version looks fine by me.

[2018-09-25 07:14] ralphlange opened #21 "Posts on small viewports need left margin"
When rendering posts (e.g. on the [News and Events](https://epics-controls.org/news-and-events/) page) on small viewports (small screen in the Customise control), main content and footers are cut off on the left side.

At least for the main content, the post layout has to use smaller graphics; just adding margin will leave the text block too narrow.

[2018-09-25 07:16] ralphlange commented on #14
@epicDirk provided a new banner for the USERS page. Thanks!

However - sorry! - I realized we also need one labelled PROJECTS for the projects page (where Yan Yingbing found the flag to be wrong).

[2018-09-25 07:35] dirk-zimoch commented on #8
![epics-users-layout-problem](https://user-images.githubusercontent.com/12862431/45999540-3f114280-c0a6-11e8-8331-c60fd16d9149.gif)
Text is clipped.

[2018-09-25 07:38] dirk-zimoch commented on #8
![epics-news-layout-problem](https://user-images.githubusercontent.com/12862431/45999700-b0e98c00-c0a6-11e8-9d6a-e4092313e452.gif)
Page is almost empty except for some ] markers.

[2018-10-02 13:50] ralphlange commented on #16
Ping!

Just added yet another project that uses a list. This is increasingly annoying.

[2018-10-02 13:53] ralphlange opened #22 "Banners with flags need an update: Pakistan"
As we officially have EPICS users in Pakistan now, the banners using the chain of flags might need an update at some time.
This can be combined with the second half of issue #14, maybe?

[2018-10-02 13:57] ttkorhonen commented on #16
I try to see if Keijo could take a look at this. Otherwise somebody else has to pick up this issue. I am not sure if Dirk is the right address for this issue.

[2018-10-02 14:59] ralphlange commented on #16
Taking him off, then. Wasn't aware of that.

[2018-10-05 12:48] ttkorhonen commented on #22
Dirk, can you take a look at this, when you find the time?

[2018-10-05 12:51] ttkorhonen commented on #16
Keijo promised to take a look at this - when he finds the time. I hope in a few days but cannot promise.

[2018-10-05 18:12] keijokorhonen commented on #16
The issue has been fixed. All unordered lists should display a small green dot next to it, as well as be indented. I have only applied the changes to project pages, since as far as I understand that's where the issue came up.

Should we have the same type of green dots for all lists on the website or instead use the grey dots found on some other pages (like the How-to documents) for the projects t

[2018-10-05 18:35] ralphlange commented on #16
That's a question for @epicDirk ?

[2018-10-06 08:47] ralphlange opened #23 "Where are the download files?"
I created a new page for EPICS Base 3.15.6 (following the instructions on the web site documentation).
Also added the appropriate table rows to the different tables (could be included in the web site doc).

Now I am puzzled about the download files (.tar.gz and signature). All download links to existing releases point to our epics-controls site, but I can't find the files anywhere and I don't know

[2018-10-06 08:50] ralphlange commented on #16
Reassigning to Dirk to answer the design question raised:
What's the design for bulleted lists on the web site?

[2018-10-06 17:06] keijokorhonen commented on #23
All the download files are located on the host server and can't be accessed through the wordpress dashboard, but through e.g. ssh. Heinz should be able to help you with this further.

[2018-10-06 17:10] ralphlange commented on #23
Ok, thanks a lot, that explains a few things.... ;-)
@hjunkes, may I get ssh access, please?!

[2018-10-07 15:28] hjunkes commented on #23
Ok there is now also an account for ralph on that system

[2018-10-07 16:39] ralphlange commented on #23
Thank you! Closing the issue.

[2018-10-07 16:39] #23 closed, assigned to hjunkes

[2018-12-14 12:47] ralphlange opened #24 "RSS Feed for News and Events"
EPICS has no "Announcements" channel for people who are not interested in the tech-talk details but want to stay informed about major events.
The "News and Events" posts would have the right amount of content - we just need a way to create a "push" type of subscription. An RSS feed would be one option.

[2018-12-14 12:48] ralphlange commented on #24
@ralphlange should inform Klaus Kneupner when this is available.

[2018-12-18 15:37] epicDirk commented on #22
yes i will integrated the flag of Pakistan

[2018-12-18 15:42] epicDirk commented on #14
besides adding Pakistan i will ad PROJECTS to the banner

[2018-12-18 16:32] epicDirk commented on #6
Yes dirk zimoch the menu and the banner take to much space (content is king!). The banner has at the moment aspect ratio of 1272:251 (2544x502 pixel). I will broaden (expand to left and right) the banner. My goal is aspect ratio of 48 : 5 (3840x400 pixel). Because i don't want to simply crop the picture i have to add additional content to the left and right for all the 7 banner of the website. The

[2018-12-19 12:25] ralphlange opened #25 "Replace TML (theme-my-login) plugin"
We should find another plugin replacing theme-my-login (TML), because the author got "professional" and made the current version non-free - we are stuck with the old version (no support, only reCAPTCHA v2) forever.

What that plugin does for us: it makes the registration/login page use our web site theme, so that it looks like the other pages. While lots of TML users have the same problem now, I h

[2018-12-19 12:30] ralphlange opened #26 "Update WordPress to version 5.0"
WordPress recently had a new major release, v5.0.

Currently (December 2018), 5.0 is still too new to jump on it: not even all plugins we use have been tested for compatibility with the new version.
But, at some point in 2019, we will have to tackle the task of updating and fully checking the functionality of all themes and plugins we use.

Does this smell like a summer student project? Yes, it do

[2018-12-19 15:38] epicDirk commented on #6
the first two banner are done but the typographic is not done:
[HOME](https://drive.google.com/file/d/1DYOEQlB4rYFD7CFb1I1M0qDduzGfUbUF/view?usp=sharing)
[ABOUT](https://drive.google.com/file/d/1j5bqm0K-TxlL_jVm87AqAcoYpBxsoOhK/view?usp=sharing)
work in progress =)

[2018-12-19 16:33] dirk-zimoch commented on #6
When changing the window width, maybe you want to clip the banner left and right instead of shrinking it with constant aspect ratio. There is not much "content" on the sides of the banner, so it would look nicer to keep it centred with constant height.

[2018-12-21 13:45] epicDirk commented on #6
good idea! it will look fine around 40% of cropping. if u crop more than that it will look ugly. Because the cubes need some space around them to look impressive. I have to talk to keijokorhonen about the scaling and cropping on how we can combine both method's with certain limits.

[CONTACT](https://drive.google.com/file/d/1f73Mja742Kk5qUHNds_cK81KbI4IdMxD/view?usp=sharing)
[NEWS EVENTS](https://

[2019-01-07 13:58] epicDirk commented on #6
[RESOURCES SUPPORT](https://drive.google.com/file/d/1w0KN_DS6H-SGc6bskDVj8bZmG_Y4wlqh/view?usp=sharing)
[LOG IN](https://drive.google.com/file/d/1qp3XTgGzay2q-ebP8oyqXzwseIrUCYz8/view?usp=sharing)

[2019-01-09 10:32] epicDirk commented on #14
Today i learned that there are [EPICS user in iran](https://www.researchgate.net/publication/286073095_Iranian_Light_Source_Facility_A_third_generation_light_source_laboratory).

[And also in Portugal.](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=6&ved=2ahUKEwjfu-OKvuDfAhVRbFAKHWtUCtwQFjAFegQIBhAC&url=https%3A%2F%2Feg.uc.pt%2Fbitstream%2F10316%2F80032%2F1%2F1-s2.0-S09203796130008

[2019-01-09 10:34] epicDirk commented on #6
[PROJECTS](https://drive.google.com/open?id=1xt3MY2TOd5fbF9F1oxoqWqjKwIMA7dXQ)

[2019-01-09 10:48] ralphlange commented on #14
The Iranian Light Source will be using the Tango control system software.
(see the ["ILSF Conceptual Design Report"](http://ilsf.ipm.ac.ir/Publications/ILSF-CDR.pdf))

Portugal: yes, please.

[2019-01-09 11:42] ralphlange commented on #6
The link labeled PROJECTS points to a file named USER. Which one is correct?

[2019-01-10 11:52] epicDirk commented on #6
its just the file name
it will be projects

[2019-01-10 12:50] epicDirk commented on #6
This is my suggestion of the new Layout with the wide banner and compressed space:
[picture](https://drive.google.com/open?id=1LRxsiEfHKV3Ew45MuY40WJi9IEhV5eGD) and [gif animation](https://drive.google.com/open?id=1TyTysVfRCyqwHHU0K7YBi7m4JmX6ZcBt)

The format of the Screen was:  2560 × 1440 pixels in a 16:9 aspect ratio
also called: QHD (Quad HD), WQHD (Wide Quad HD),or 1440p

All banners are now

[2019-01-10 13:16] epicDirk commented on #6
personally i browse the internet [like this](https://drive.google.com/open?id=1PAITygIF_wYRTFx3JllcsRFVsamVQ43z) and there the EPICS webpage works even in the current state quite well (2560 × 1440 pixels in a 16:9 aspect ratio)

[2019-01-10 13:27] ralphlange commented on #6
Personally, I browse the internet [like this](https://user-images.githubusercontent.com/632191/50971056-623ff080-14e3-11e9-9e89-2322ce966403.png) so I am on DIN A4 ...

Maybe the extra space could host some otherwise useless EPICS advertising, like a random user quote or   catch phrase. ("7 is so much more than 3 + 4!")
Such an wide-screen extra would be suppressed on the narrower screens.

[2019-01-11 09:59] epicDirk commented on #6
i would like to leave it empty. Important information needs some [negative space](https://tubikstudio.com/negative-space-in-design-tips-and-best-practices-2/).

[2019-01-15 17:09] epicDirk commented on #6
Here are the [21 New Banners](https://drive.google.com/drive/folders/1efKEKBZQz7JVYrwJj6F6VxzoDUV5w_5X?usp=sharing). How to integrated them are described in this [picture](https://drive.google.com/file/d/1bFAwwRelezBdifWmlRXWAXQERIEVUzOu/view?usp=sharing)

[2019-05-01 14:48] slominskir commented on #7
The official EPICS website pages load very slowly and is only made worse by hiding all content and showing a loading animation every time a user clicks a link.  This is a bad user experience according to experts (also as a user I can report I find it a bad experience), and reflects poorly on the EPICS brand [*].  On the very high speed network at JLab it takes 3.5 seconds before the first content

[2019-05-01 15:52] ralphlange commented on #7
Thanks for the pointers, especially those to tools.
We're running WordPress with some theme and plugins, creating the site was a summer student project, and between us EPICS developers there simply is no one with the required skill set to fine tune and/or change the internals. (We have a hard time maintaining the content, to be honest.)
If we had an EPICS communication department...

[2019-05-01 17:55] ttkorhonen commented on #7
Well oh well. Feedback is always welcome, but implementation help would also be appreciated.
I wonder if there is a way to encourage a bit more participation from the community. Until now it has been exactly zero outside the few people involved.
May I remind (as also seen in the comments) that last year we discussed this and it would have been easy to remove the animations but with a common decisi

[2019-05-01 18:55] ralphlange commented on #7
Jajaja.
This is not so much about the animations - if the page was loading fast, these would not bother anyone.
I love to see that there is a tool (inside Chrome) to benchmark this. Finally data instead of "much too slow" against "good enough". I get the same numbers from here (France), so in last year's discussion I was probably just praising the speed of my cache.
Try running that perf audit you

[2019-05-01 20:37] ttkorhonen commented on #7
That was exactly the argument why we left the animations in place. But apparently they do bother people.
Good if there are people who are willing to contribute to improvements. The number of contributions to the website from the community (exact zero) has been a huge frustration for me. Things do not just magically happen, there is in fact work behind in any step. This is of course not limited to

[2019-05-01 21:13] slominskir commented on #7
I could probably provide some help if I can obtain the source code or some guidance on how contributions are made.  Any reason source isn't included in this git repo?  Perhaps the code is simply hosted by WordPress?

I'm a web application developer, but a website should be no problem.

[2019-05-02 08:41] ttkorhonen commented on #7
Where to start. Maybe by stating that I have no clue about web development. But still I can point out a few things:
First of all, the site is not hosted by WordPress but - intentionally - there has been no "code" development and thus no source code to put into the repo. We use WP as a tool, with a selection of plugins. We intentionally made the choice to not modify the WP base or plugins because i

[2019-05-02 09:56] ralphlange commented on #7
- As Timo points out: the site is a WordPress site, hosted at one of the EPICS user facilities. Bandwidth/connection is not an issue.
- Slow loading is somewhat typical for CMSs (as they have to do database queries to get the content). We are mostly limited to what WordPress (plus plugins) can do to speed things up.
- Looking at what Google shows for "wordpress slow loading" there are a couple of

[2019-05-02 10:00] ralphlange commented on #7
Re: nextgen image formats
Have a look at the compatibility charts for those.
Makes only sense if you have every image in several formats and WordPress choses the best based on the `Accept` headers of the query. => Needs a plugin and sounds pretty complicated.

Deferred.

[2019-05-02 10:01] ttkorhonen commented on #7
Looks good. Let me know if we (ESS) can help.
For the content contributions, maybe we offer t-shirts/mugs/whatever to people who have added or updated content in the site. Trying to be positive here...

[2019-05-02 13:26] slominskir commented on #7
Roughly 50% of users browsing websites are doing so from a mobile phone [*].  Perhaps a little less for science research, but still enough that we should be worried our first impression of EPICS might be coming from a phone and right now that first impression is bad.  A website is about branding, whether you want it to be or not.  Go look at the Tango website (https://www.tango-controls.org/).  Ma

[2019-05-02 15:01] ttkorhonen commented on #7
OK with me. Please create yourself an account on the site (I think you do not have one yet, right?) and we can give you the rights that you need to implement your proposal. But perhaps first on the clone that Ralph mentioned.

[2019-05-02 15:25] ralphlange commented on #7
Yes, Ryan, we got your message.
Do you propose to implement all your suggestions today, or can we leave the technically impossible ones for next week?

[2019-05-02 18:40] slominskir commented on #7
I used the registration page to create an account 45 minutes ago, but I'm still waiting on a confirmation email presumably with a temporary password.   Is is expected to take awhile?  I'm not seeing anything in my spam folder either.  I registered two different email addresses, and neither one has received anything.

Have a staging (development/demo) server to test things out on before making prod

[2019-05-02 19:16] anjohnson commented on #7
Hi Ryan,

Please note that @ralphlange, Timo @ttkorhonen and Heinz @hjunkes (who provides servers for us at the Fritz-Haber-Institute in Berlin) all work in the Central European time-zone so will have signed off for the day (Ralph sometimes works in the evenings on his own time, but he has family too). I see the notification emails about new accounts and both of your registrations did go through,

[2019-05-02 19:37] slominskir commented on #7
Thanks Andrew.   Sounds like registration might not be an automated system like I assumed.  No worries.

In the meantime I've installed WordPress on my local workstation in case I am able to import the project once I have access and also to familiarize myself with the builder interface.  It sounds like the project strategy is to avoid coding and only use the GUI so I'll need to do some research in

[2019-05-02 21:23] slominskir commented on #7
I received the confirmation email and am able to login.  On first pass over the interface it looks like I can only contribute content, and have no way to modify site configuration (configure plugins, modify layout, etc).   I imagine there must be some sort of animation plugin and perhaps one of you can simply disable it.

[2019-05-02 23:01] anjohnson commented on #7
It may be that confirmations are put into a queue that only processes at some periodic interval, I don't know for sure. When people first create an account we only give them the ability to suggest contributions through a content review process, to prevent spammers from being able to take over.

Ralph and Timo might want to wait until we have a development server available to give you access to the

[2019-05-03 08:26] ttkorhonen commented on #7
All accounts have to be approved by a moderator and this depends on how fast the moderators (me or Ralph have been doing this) get to do that. We want to have at least a minimal idea who our contributors are.
I will approve your account, until that you cannot do much and even after the first approval you get a "contributor" status and cannot still access the internals. I would like to proceed as A

[2019-05-03 13:25] slominskir commented on #7
No problem.  I’ll try to get up to speed with WordPress on my local workstation.  My colleague Theo Larrieu is a Drupal expert, which is a similar CMS, so we might be able to get some help from him as well.

[2019-05-03 14:40] keijokorhonen commented on #7
Hi, here is the summer worker, who worked on this last summer. I completely agree that the animation gets tiring and makes the website seem clunkier than it should. The animation is created by the theme that we're using, which is unfortunately not well documented or customizable. I am assuming its hardcoded. I made a couple of attempts of removing that animation by using CSS, which I would prefera

[2019-05-07 11:48] slominskir commented on #7
Sounds like the simple fix might be to just choose a different theme.  Let me know if there is anything my colleague and I can do to help.

[2019-07-08 14:15] keijokorhonen commented on #26
The website has been upgraded to Wordpress 5.2.2 and with that we also changed the theme got rid of Power Builder and made a few other improvements. All plugins we use should still be intact. All (or at least most) Pages have been converted to use Gutenberg also. Now, if you excuse me, my fingers hurt...

[2019-07-08 14:15] #26 closed, assigned to keijokorhonen

[2019-07-08 14:21] keijokorhonen commented on #14
The banner on the website now has the correct Chinese, Pakistani and Portugese flags.

[2019-07-08 14:21] #14 closed, assigned to epicDirk

[2019-07-08 14:22] keijokorhonen commented on #22
The banner on the website now uses the flag of Pakistan.

[2019-07-08 14:22] #22 closed, assigned to epicDirk

[2019-07-08 14:23] keijokorhonen commented on #21
This should be fixed with the new theme we use.

[2019-07-08 14:23] #21 closed, assigned to keijokorhonen

[2019-07-08 14:25] keijokorhonen commented on #16
We will use black dots for consistency across the site. This should be fixed for all projects as well as every other list used.

[2019-07-08 14:25] #16 closed, assigned to keijokorhonen, epicDirk

[2019-07-08 14:27] keijokorhonen commented on #20
The dates are now displayed in the same green as other secondary text.

[2019-07-08 14:27] #20 closed, assigned to keijokorhonen

[2019-07-08 14:29] keijokorhonen commented on #19
I made some adjustments to this. Could you look at the page you posted again and let me know if that needs any improvements?

[2019-07-08 14:42] keijokorhonen opened #27 "Collaborative documentation on the website"
The way we allow users to collaborate on the website currently, is a little too complicated and confusing to users. Users are forced to find the relevant page from the massive sea of pages and then assign a parent page, add it to the documentation index. The move to Gutenberg has simplified editing a page a lot, but I believe we should simplify the process by at least making a separate section for

[2019-07-08 15:56] anjohnson opened #28 "Graphic Icons look strange"
I like the updated website which is now much faster, but some of the logo-like Icons on pages such as the [7.0.2 release page](https://epics-controls.org/resources-and-support/base/epics-7/7-0-2/) look weird. Those images look wrong on the Wordpress media library page too, so it isn't necessarily the theme update that caused this — did the image files get corrupted somehow? I assume @epicDirk woul

[2019-07-09 07:00] keijokorhonen commented on #28
They were looking normal in my browser (Firefox on OSX), but we were using a plugin which automatically converts images to the WebP format, which could have caused that. I have disabled it now. Could you look again and see whether they look fine now?

[2019-07-09 07:10] ttkorhonen commented on #28
For reference, this is how they look in in my browser. They looked the same yesterday in my browser (same setup as Keijo's so no surprise).
![EPICSicons](https://user-images.githubusercontent.com/12592940/60866701-55e5e780-a229-11e9-9749-acdc71128e9b.png)

[2019-07-09 07:10] ralphlange commented on #28
I could also see the distorted ones, and now they're back to normal.

[2019-07-09 07:11] ralphlange commented on #28
Browser: Chrome.

[2019-07-09 07:21] ralphlange commented on #22
FWIW:
The Projects and Links pages do not have a banner currently.

[2019-07-09 07:26] ralphlange commented on #27
The link in your comment does not work.

I like readthedocs.org, but I only know it as a host for generated documentation.
What do you see as a workflow for manually generated pages?

[2019-07-09 07:27] ttkorhonen commented on #22
Should they? On that sub-level, none of the other pages have banners either. For example, Licensing, or none that I looked at. I personally prefer it that way.

[2019-07-09 07:45] keijokorhonen commented on #27
We would use a Github repository containing all the documentation and configurations like e.g. the [Godot engine docs](https://github.com/godotengine/godot-docs). Users can first write their articles in Markdown, then submit pull requests for edits or new pages, which have to be approved by a repository administrator. When the master branch receives a new commit, readthedocs will then clone the gi

[2019-07-09 08:02] ralphlange commented on #27
With manually generated, I mean: actually typed word by word by a human.
I know how to push Doxygen generated or Javadoc pages to readthedocs. These are generated as part of building a software project.

[2019-07-09 08:19] ralphlange commented on #27
Ok, understood.

I support this approach. Using PRs on GitHub for contributions seems like a widely-known procedure that is well-suited for our audience.

Does this setup support test-builds of PRs to be able to review suggested changes without having to have a full sphinx setup and compile locally?

[2019-07-09 08:39] keijokorhonen commented on #27
This setup supports [versioning](https://docs.readthedocs.io/en/stable/versions.html), so that we don't have to merge pull requests to the master branch to be able to see changes. Since the files are written in Markdown, we can also see the suggested changes in the Github preview.

[2019-07-09 08:51] ralphlange commented on #27
Have a look at https://docs.readthedocs.io/en/stable/subprojects.html
This is how our things could be organized. A custom domain (e.g. `docs.epics-controls.org`) and Javadoc, Doxygen as well as the hand-written parts as subprojects.

Btw. Please reST instead of Markdown.

[2019-07-09 08:53] ralphlange commented on #27
@shroffk - would that fit with the doc ideas of the Java devs?

[2019-07-09 08:55] ralphlange commented on #22
They used to have, and Dirk made new banners for these.
It's a graphics design topic - so I have no opinion.

[2019-07-09 08:56] keijokorhonen commented on #24
Wordpress has an included RSS feed for posts, which can be found at https://epics-controls.org/feed/. This would include all posts from the "Meetings and other events" and "Software Releases" columns. For only meetings we have https://epics-controls.org/category/meetings/feed/ and for releases we have https://epics-controls.org/category/releases/feed/. I can add these to the "Elsewhere" column in

[2019-07-09 08:58] ralphlange commented on #24
Perfect!

[2019-07-09 09:01] ttkorhonen commented on #27
Re Markdown, good point. I was about to write about the looming religious fight, [Markdown vs reST](http://www.ericholscher.com/blog/2016/mar/15/dont-use-markdown-for-technical-docs/). I vote also for reST, maybe we can preempt the fight by setting a standard early.

[2019-07-09 09:08] ralphlange commented on #19
Almost there. For me, the font size in the blockquote is still unnaturally big compared to the normal font. See:
![image](https://user-images.githubusercontent.com/632191/60875253-be3cc500-a239-11e9-9e7f-76ff6f786d11.png)

[2019-07-09 09:16] keijokorhonen commented on #19
What about now? I changed the font size to 14px.

[2019-07-09 09:25] ralphlange commented on #19
No change as far as I can see.

[2019-07-09 09:33] ttkorhonen commented on #19
This is how it looks on my (Firefox) browser. To me the font looks smaller. Also there is no scrollbar.
![blockquotes](https://user-images.githubusercontent.com/12592940/60876837-f4c80f00-a23c-11e9-98bd-9e954297793d.png)

[2019-07-09 10:42] ralphlange commented on #19
Now it's the same for me. Good!

[2019-07-09 10:43] ralphlange commented on #19
(Probably the server-side cache timed out...)

[2019-07-09 12:56] #19 closed, assigned to keijokorhonen

[2019-07-09 13:55] anjohnson commented on #28
Fixed now, thanks.

[2019-07-09 14:05] ttkorhonen commented on #24
RSS feed link in my browser:
![RSSFeed](https://user-images.githubusercontent.com/12592940/60894586-48e5ea00-a263-11e9-8c7a-bc04f02c2eb3.png)

[2019-07-09 14:19] shroffk commented on #27
+1 for reST

[2019-07-09 16:28] anjohnson commented on #24
Will there be links to these feeds shown on the relevant pages too, with the RSS logo? I don't see the Elsewhere column as an obvious place for them, I wouldn't look there myself if I was looking for a feed. A search for "RSS" didn't find them either just now.

[2019-07-09 17:37] anjohnson opened #29 "Remove mailing lists QTi-talk and Hw-talk"
The two APS mailing lists QTi-talk and Hw-talk are being decommissioned, they were not being used any more, with only 1 post to each in 2018. The archives are still present on the Argonne EPICS website and will remain there, but the mailman links and email addresses will probably stop working sometime in the next few days/weeks.

I should be able to make the necessary changes to this website somet

[2019-07-09 18:19] anjohnson commented on #27
For larger documents that will need things like tables of contents I agree that standard reST is a better choice than Markdown. I'm not convinced that a 3-paragraph HowTo with some quoted code quite falls into that category, but I won't try and change what appears to be a consensus by the rest of you. GitHub's rendering of rST only handles some aspects of the formatting though (e.g. see [the table

[2019-07-09 18:21] anjohnson commented on #28
The distorted logos came back:
![image](https://user-images.githubusercontent.com/5453863/60913096-488e2480-a24c-11e9-9255-2b6b3967218d.png)
I'm running Chrome-74 on Linux.

[2019-07-09 18:41] ralphlange commented on #28
Exactly the same here (Chrome 76 on ChromeOS).
The 7.0.2 page is fine, though.

[2019-07-09 18:46] ralphlange commented on #27
I agree for short documents without a lot of formatting. The difference between the two shouldn't be huge in those cases.
But how is GitHub's reST rendering relevant?

[2019-07-09 21:34] anjohnson commented on #27
Some contributors may use the editor built into GitHub (click the "edit this file" pencil towards the top right of a page you're viewing) which has a Preview tab that shows the rendered result. The Edit tab also has syntax highlighting enabled. Thus some people may adjust their edits so the results look good on GitHub without realizing that the final rendering could be a bit different. Editing the

[2019-07-10 07:10] keijokorhonen commented on #28
Some of the icons were sourced from the sandbox website, so they looked like that. But I changed them, so do they look OK on your end?

I found this issue only on the Documents page, have you seen this anywhere else?

[2019-07-10 07:20] ttkorhonen commented on #28
I still see one that looks strange, on the Documents page, "modules" shows a solid square instead of the - I do not know how to call it - "right" one. Also, the "base" icon seems to be pointing to the sandbox. I have not seen the issue elsewhere.

[2019-07-10 07:31] keijokorhonen commented on #28
Should be fixed now.

[2019-07-10 08:19] keijokorhonen commented on #29
I updated the page to use the new wording and removed the subscribe and send links. Should these lists be completely removed from the page or are these small updates enough?

[2019-07-10 20:53] anjohnson commented on #29
That looks fine now, thanks.

[2019-07-10 20:53] #29 closed, assigned to nobody

[2019-07-10 20:58] anjohnson commented on #28
All the icons on the Media library look fine on my iPad with Chrome. You might want to do a link search for any other places where icons are linked from the sandbox.

[2019-07-11 14:40] keijokorhonen commented on #28
I found a couple other images that were sourced to the sandbox. All image sources should be fixed now.

[2019-07-12 08:33] keijokorhonen commented on #24
Links have been added to the News and Events page.

[2019-07-12 08:33] #24 closed, assigned to nobody

[2019-07-12 08:42] keijokorhonen commented on #8
Unfortunately the plugins we use to display the News and Events as well as the projects make it hard to display their content for printing. It seems like the plugins load only a part of the content, which can't be fixed using only css media print rules. The pages look fine when I emulate media print in Firefox, but the print itself is broken.

A workaround for the News and Events page would be to

[2019-07-12 08:44] keijokorhonen commented on #28
Please reopen if you find any other images sourced from external websites.

[2019-07-12 08:44] #28 closed, assigned to nobody

[2019-07-12 08:56] keijokorhonen commented on #6
The new banners are now in place and display the appropriate banner for small, medium and large sized screens using the srcset and sizes attributes on the HTML img tag.

[2019-07-12 08:56] #6 closed

[2019-08-14 15:02] keijokorhonen commented on #27
I converted some of the pages found on the website to RST and played around with readthedocs a little. You can see the result here: [https://epics-docs.readthedocs.io/en/latest/](https://epics-docs.readthedocs.io/en/latest/) and repo here: [https://github.com/keijokorhonen/epics-docs](https://github.com/keijokorhonen/epics-docs).

Setting it up was very simple and it looks very readable. What do y

[2019-08-15 12:45] ttkorhonen commented on #27
I think the result looks good. I have also been trying to learn rst and readthedocs; for instance "rst-ifying" the CA reference manual in my sandbox. Results can be seen [here](https://ca-security-spec.readthedocs.io/en/latest/channelaccess/carefmanual.html) and the git source [here](https://github.com/ttkorhonen/myDocument/blob/master/docs/channelaccess/carefmanual.rst). I had to reformat one nes

[2019-08-15 15:52] anjohnson commented on #27
The formatting looks really nice, but I'm not quite sure about the overall structure. Many of those pages are independent, stand-alone documents, and for them to have "Next" and "Prev" links at the bottom seems a little strange, especially ones that point across major sections. For some pages it does make sense though, the [Collaboration Meeting](https://epics-docs.readthedocs.io/en/latest/collabo

[2019-08-16 07:19] ttkorhonen commented on #27
I think that this was meant to be a demo of what it could look like rather than a final solution.
The "next" and "prev" can be removed if wanted and the structure reworked as needed. But as always, there has to be somebody who takes care of the structure.
Anyway, if this looks like a good way to go, then I would like to ask the Documentathon participants to spend a little bit of time to learn RST

[2019-09-03 07:22] anjohnson opened #30 "Update list of Council members"
... on the About page (which doesn't seem quite the right place for that list, how about a separate Council page?).

Chair has changed, John Maclean replaced by Guobao Shen, check others...

[2019-09-03 07:56] anjohnson opened #31 "Getting Started page (linked from Documents)"
Suggested Improvements:

Start with a list of pre-requisites.

New users should *never* use git. Download a "recent" tarfile (don't give an explicit version here, that would require updating whenever we come out with a new release, which we don't have time for).

Instructions given are for configuring bash and only work for bash; what about users of other shells? Setup for Windows could be interes

[2019-09-03 08:27] ralphlange commented on #30
Axel Winter was added representing the Max-Planck-Society...

[2019-09-03 08:31] ralphlange commented on #31
Maybe we can have URLs (permalinks) for .../latest and .../stable - that way any new version just requires to change the permalink and all other docs on the site don't need to be updated.

[2019-09-03 14:27] ralphlange opened #32 "Move Eric Norum's EPICS on RTEMS guide to RTD/How-Tos"
As discussed at the Documentathon:
@anjohnson should find the source of E. Norum's tutorial, so that @ralphlange can use it to generate a version that goes into the [How-Tos repository](https://github.com/epics-docs/how-tos).

For the time being, the RTD site links to the [existing HTML pages](http://www.aps.anl.gov/epics/base/RTEMS/tutorial/) on the epics.anl.gov site.

[2019-09-09 20:14] anjohnson commented on #32
Eric Norum's RTEMS Tutorial is actually in a CVS repository sub-tree containing a .tex file, several scripts for building RTEMS and a Makefile for processing the tutorial. I have extracted it into a git repo, should I push that to a new epics-docs repo?

I believe the notes I wrote for [building 4.10.2](https://epics.anl.gov/base/RTEMS/Building-4.10.2.txt) (linked from [my RTEMS page](https://epic

[2019-09-10 09:21] ralphlange commented on #32
@hjunkes, what do you think?

[2019-09-10 09:29] hjunkes commented on #32
I could update this start of documentation https://github.molgen.mpg.de/h1/CRYVISIL/blob/master/docs/source/software/rtems/base.rst

to RTEMS5 and EPICS 7.0.3 ...?

[2019-09-10 10:00] ralphlange commented on #32
That would be an additional page.
The question here is: Eric's tutorial or Andrew's notes? Or both? Or what?

[2019-09-10 15:11] anjohnson commented on #32
Since I'll be on vacation from tomorrow through the weekend I pushed Eric's repo [here](https://github.com/anjohnson/RTEMS-tutorial.git) — let me know if you want me to move it to the epics-docs organization after I get back, or feel free to convert it to .rst and I can discard this.

[2019-09-10 15:14] ralphlange commented on #32
tnx

[2022-10-27 18:35] ralphlange commented on #25
As per EPICS Developer Meeting decision, TML has been disabled.
We are living with the ugliness of the default WordPress login/logout page.

[2022-10-27 18:35] #25 closed, assigned to nobody

[2022-10-27 18:36] ralphlange commented on #30
Wrote another mail to the council members, asking for an updated list.

[2022-10-27 18:45] ralphlange opened #33 ""Hide This" plugin needs to be replaced"
We are using a plugin called "Hide This" that seems to have been abandoned.

Wordfence reports this...
[code]

[2022-10-27 18:48] ralphlange opened #34 ""Caldera Forms" plugin needs to be replaced"
Caldera Forms has been closed. We need to replace it.

I would suggest (following the original author of Caldera Forms) moving to Ninja Forms. There is an automated converter (from Caldera to Ninja Forms) to help with that process.

[2022-10-27 18:52] ralphlange opened #35 ""Cherry Projects" plugin needs to be replaced"
All plugins of the Cherry Framework have been discontinued and need to be replaced.

We are using Cherry Projects for showing the different EPICS collaboration projects.